@import "themes/tokyonight.css";
/* Change this import to switch themes */

* {
  font-family: "Hack Nerd Font";
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
  /* background-color: @background; */
  color: @foreground;
}

/* === Shared module styles === */
#workspaces,
#scratchpad,
#window,
#disk,
#cpu,
#memory,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
.nightmode,
#clock {
  padding: 2px 8px;
  margin: 3px;
  margin-top: 2;
  margin-bottom: 2;
  background: @background-alt;

  opacity: 0.9;

  color: @foreground;
  /* border: 1px solid @foreground-alt; */
  border-radius: 3px;
}

/* === Workspaces === */
#workspaces {
  padding: 2;
  margin-right: 5px;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent {
  padding: 0 4px;
}

#workspaces button.visible {
  font-weight: 900; 
  color: @foreground-alt;
}

#workspaces button:hover,
#workspaces button.visible:hover {
  background: @background-alt;
  color: @foreground;
}

#workspaces button.urgent {
  background: @critical;
}

/* === Conditional Styling === */
#network.connected {
  color: @good;
  border: 1px solid @good;
}

#network.disconnected {
  color: @critical;
  border: 1px solid @critical;
}

#temperature.critical {
  color: @critical;
  border: 1px solid @critical;
}

#pulseaudio.muted {
  color: @critical;
  border: 1px solid @critical;
}

#battery.charging {
  color: @good;
  border: 1px solid @good;
}

#battery.warning {
  color: @warning;
  border: 1px solid @warning;
}

/* === Battery Critical Animation === */
@keyframes blink-critical {
  0% {
    border-color: @critical;
    color: @critical;
  }

  50% {
    border-color: transparent;
    color: @background;
  }

  100% {
    border-color: @critical;
    color: @critical;
  }
}

#battery.critical {
  animation: blink-critical 1s infinite;
  border: 1px solid @critical;
  color: @critical;
}
